@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


*
{   margin:0px;
    box-sizing: border-box;
}
/*value*/
$primaire: #9356DC;
$secondaire:#FF79DA;
$terciaire:#99E2D0;
$lightgray:#f6f6f6;
$white:#ffffff;
/*mixin*/
@mixin shadow {
    box-shadow:2px 2px 15px -4px grey ;  
}
a
{
    text-decoration: none;
    color: black;
    background-color:transparent ;
}
body
{
    font-family:'Roboto',sans-serif ;
    max-width:1600px ;
    margin:auto;
}
.spiner
{   display: grid;
    place-items:center ;
    position: fixed;
    inset:0px ;
    z-index:1 ;
    background-color:$white;
    opacity:0.9 ;
    animation:spin 1s;
    animation-delay:3s ;
    animation-fill-mode: forwards;
}
@keyframes spin {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes image {
to {
transform: rotate(360deg);
}
}
.spiner i
{
    animation:image 3s infinite linear;
    color:$primaire;
}
.spiner i
{
    font-size:90px ;
}
header
{
    font-family: 'Shrikhand',cursive;
    text-align: center;
    padding:10px ;
    box-shadow: 0px 5px 11px 0px rgb(0 0 0 / 30%);
    margin-bottom:3px ;
}
main .place
{
    display: flex;
    text-align: center;
    background-color:rgb(224, 223, 223);
    padding:10px ;
    align-items: center;
    justify-content: center; 
}
main p
{
    font-size: large;
}
main .fas
{
    order:-1 ;
}
.decouverte
{
   text-align: center;
   background-color:$lightgray ;
   padding:20px ;
}
.decouverte p 
{
    font-weight: 200;
    padding:10px ;
}
 .decouverte button 
{
    background-image: linear-gradient(to top,$primaire,$secondaire);
    border-radius:30px ;
    border:none ;
    color:white ;
    padding:15px 20px ;
    margin-bottom:35px ;
    margin-top:10px ;
    @include shadow;
}
.decouverte button:hover 
{
    cursor: pointer;
    opacity:0.8;
    box-shadow:2px 2px 15px 2px gray ;
    transition: 0.3s; ;
}
.fonctionnement ol
{
    display:flex ;
    flex-direction: column;
    counter-reset: item;   
}
.fonctionnement li 
{
    background-color:$lightgray ;
    border-radius:15px ;
    margin-right:15px ;
    text-align: center;
    font-weight: 900;
    list-style-type: none;
    @include shadow;
    margin-bottom:20px ;

}
li::before
{
    content:counter(item) ;
    counter-increment: item;
    display:flex ;
    background-color:$primaire;
    width:10px ;
    height:10px ;
    border-radius: 50%;
    align-items: center;
    position:relative;
    left:-15px;
    bottom:-20px ;
    padding:10px ;
    color:$white;
}
.fonctionnement li:hover
{ 
    opacity:0.7 ;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(237, 220, 245);
}
.fonctionnement .fas:hover
{ 
    color:$primaire; 
}

.fonctionnement .fas
{
    margin-right:15px ;
    font-size:20px ;
    margin-bottom:20px ;
    color:gray ; 
}
.fonctionnement h2
{
    padding-left:20px ;
    margin-top:35px ;
    margin-bottom:20px ;
}
.restaux
{
    display: flex;
    background-color:$lightgray ;
    padding:20px ;
    flex-direction: column;
    margin-top:65px ; 
}
.carte
{   display: flex;
    border-radius:15px ;
    background-color:$white ;
    width:100% ;
    height:255px  ;
    flex-direction: column;
    margin-top:30px ; 
    @include shadow; 
}
 .nouveaux 
{   
    position: relative;
}
 .nouveaux::before
{
    content: "Nouveau";
    position:absolute ;
    height:27px;
    width:22%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    background-color:$terciaire;
    color: rgb(77, 156, 152);
    display: grid;
    place-items:center ;
    right: 12px;
    margin-top:10px ;
}
.carte .description p 
{
    margin-top:5px;
    font-weight: 200;
    margin-left: 0px;
}
.description
{
    display: flex;
    margin-left:20px ;
    justify-content: space-between; 
}
.carte .description h4 
{
    margin-top: 12px;
}
.carte img
{
    width:100% ;
    height:177px ;
    border-radius:15px 15px 0 0 ;
    object-fit: cover;
}
.carte.description a:hover 
{
cursor: pointer;
}
.icone i
{
    font-size:22px ;
    position: absolute;  
    margin-top:17px ;
}
.fas.fa-heart
{
    position: relative;
    color: transparent;
    font-size: 22px;
    transition:all 200ms ease-in-out;
}
.fas.fa-heart:hover
{
    color:transparent;
    background-image:linear-gradient(to top,$primaire,$secondaire);
    background-clip:text ;
    -webkit-background-clip:text ;
    opacity:1 ;
    transform: scale(1.2);  
}
footer 
{
    display: flex;
    padding-left:25px ;
    padding-top:20px ;
    background-color:#353535;
    color:$white;
    flex-direction: column;  
}
footer h2 
{
    font-family:"Shrikhand",sans-serif;
    color:$white ;
    margin-bottom:15px ;
}
footer p
{
    color:$white;
    padding:5px 0px ;
    margin-left:0px ;
}
.fa-hands-helping
{
    margin-right:6px ;
    color:$white;
}
.fa-utensils
{
    margin-right:7px ;
}
.footer
{
    margin-left:2px ;
}
/* page 2 */
.photo img 
{
    width:100% ;
    background-repeat:no-repeat;
    object-fit: cover;
    height: 220px;
    position: relative;
    z-index:1;
}
 .resto1 h2
{
    font-family: 'Shrikhand',cursive;
    margin-top:20px ;  
}
.resto1
{ 
    background-color:$lightgray;
    padding:10px ;
    border-radius:40px 40px 0px 0px ;
    position: absolute;
    width:100% ;
    z-index:2 ;
    margin-top:-43px ;
}
.deuxieme
{
    box-shadow:none ;
    padding:0% ;
    position: relative;
}
.icone .fa-heart:before 
{
    margin-left:8px ;
    font-size:22px ;
}
.deuxieme .fa-arrow-left
{
    display:flex;
    position: absolute;
    left: 20px;
    margin-top:18px ;
}
.resto1 h3
{
    margin-top:20px ;
}
.plats
{
    overflow: hidden;
    text-overflow: ellipsis;
}
.lacarte 
{   display: flex;
    background-color:$white ;
    border-radius:15px ;
    height:70px ;
    margin-top:20px ;
    @include shadow;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lacarte h4,P
{
    margin-left:15px ; 
}
.lacarte h4
{
    padding-top:12px ;
    overflow: hidden;
    text-overflow:ellipsis ;
    font-size:20px ;
    margin-bottom:4px ;
}
.lacarte p 
{   
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:17px ;
    font-weight:lighter
}
span.prix
{
    display: flex;
    margin-left:auto;
    align-items: flex-end;
    margin-right:6px ;
    margin-bottom:9px ;
    font-weight:500;  
}
.case 
{
    display:none ;     
}
.lacarte:hover
{
    .case{
        animation:CheckCase 2s;
        background-color:$terciaire ;
        display: grid;
        place-items: center;
        animation-fill-mode: forwards;
    }
    .fa-check
    {
        animation:check 2s ease-in-out ;
    }
}
@keyframes CheckCase {
    0%{
        width: 0%;
    }

    100%{
        width: 30%;
    }
}
.fa-check
{   display: grid;
    place-items:center ;
    background-color:$white ;
    border-radius: 50%;
    height:20px ;
    width:20px ;
    color:$terciaire;    
}

@keyframes check { 
    0%
    {
      transform:rotate(-270deg);
    }
    100%
    {
        transform:rotate(0);
    }
    }

.commande 
{
    display: flex;
    justify-content:center;
}
.commande button
{
    background-image: linear-gradient(to top,$primaire,$secondaire);
    border-radius:20px ;
    border:none ;
    color:$white ;
    padding:15px 50px ;
    margin-top:40px ;
    margin-bottom:50px ;
    @include shadow;   
}
.commande button:hover 
{
    cursor: pointer;
    opacity: 0.8;
    box-shadow:2px 2px 15px 2px gray ;
    transition:0.3s ;
}
.menu:hover
{
    cursor: pointer;
}
.menu h3
{   margin-top:40px ;
    font-weight: 300;
    position: relative;
}
h3::after
{
    content:"" ;
    position: absolute;
    height:3px ;
    width:50px ;
    background-color:$terciaire;
    top:26px ;
    left:0px;
}
.menu
{
    padding:10px ;
    background-color:$lightgray;
}

@keyframes anim { 
    0%
    {
      transform:translateY(-50%);
      opacity:0 ;
      
    }
    100%
    {
        transform:translateY(0);
        opacity:1 ;
        
    }
    }
.delay1 
    {
        
        animation: anim 3s;
        animation-delay:200ms ;
        animation-fill-mode: both;
    }
.delay2
    {
        animation: anim 3s;
        animation-delay:400ms ;
        animation-fill-mode: both;
    }
.delay3
    {
        animation: anim 3s;
        animation-delay:600ms ;
        animation-fill-mode: both;
    }
.delay4
    {
        animation: anim 3s;
        animation-delay:800ms ;
        animation-fill-mode: both;
    }
.delay5
    {
        animation: anim 3s;
        animation-delay:1000ms ;
        animation-fill-mode: both;

    }
.delay6
    {
        animation: anim 3s;
        animation-delay:1200ms ;
        animation-fill-mode: both;

    }
.delay7
    {
        animation: anim 3s;
        animation-delay:1400ms ;
        animation-fill-mode: both;
    }
.delay8
    {
        animation: anim 3s;
        animation-delay:1600ms ;
        animation-fill-mode: both;
    }
.delay9
    {
        animation: anim 3s;
        animation-delay:1800ms ;
        animation-fill-mode: both;
    }
.delay10
{
        animation: anim 3s;
        animation-delay:2000ms ;
        animation-fill-mode: both;
}
.resto1 .fa-heart 
    {
        font-size: 20px;
        position: absolute;
        right: 20px;
        top:18px ;    
    }
    
        @media screen and (min-width: 768px)
        {
.commande  
    {
        display: flex;
        justify-content: center;
    }
.commande button
    {
         padding:15px 66px; 
         font-size:20px ;   
    }
.lacarte
    {
        height:85px ;
    }
.menu
    {
         padding:30px ;
    }
h1
    {
        font-size:45px ;
    }
h3 
{
         font-size:25px ;
}
h2
    {
        font-size:34px;
        padding-left:20px ;
    }
h4 
    {
        font-size:20px ;
        margin-bottom:6px ;
    }
P 
    {
         font-size:15px ;
    }
.plats
    {
        padding-top:10px ;

    }
span.prix
    {
         margin-bottom:17px ;
    }
.resto1 .fa-heart
    {
        margin-top:27px ;
    }
    .icone .fa-heart:before
    {
        font-size:25px ;
    }
.fa-arrow-left
    {
        font-size:22px ;
            
    }
.fonctionnement ol 
    {
        padding:60px ;
    }
.carte
    {
        width:80% ;
        margin-left:80px ;
    }
.nouveaux::before 
    {
        width: 18%;
        right: 20px; 
    }
    }
     @media screen and (min-width:992px) and (max-width:1500px)
     {
h1
    {
         font-size:60px ;
    }
.fa-map-marker-alt
    {
        font-size:20px ;
    }
main p 
    {
        font-size: x-large;
    }
.decouverte p 
    {
        font-size:20px ;
    }
.fonctionnement
    {
        display: flex;
        flex-direction:column ;
    }
.decouverte button 
    {
        padding:20px 35px ;
        margin-top:25px ;
        font-size:20px ;
    }
.fonctionnement ol 
    {
        flex-direction: row;
        justify-content: space-around;
    }
.fonctionnement li 
    {
        border-radius:20px ;
        padding:6px 32px ;
    }
.fonctionnement li::before
    {
        left: -44px;
        bottom:-20px ;
    }
.fonctionnement .fas 
    {
        margin-right:10px ;
    }
.restaux
    {
        padding: 20px;
        flex-direction: row; 
        flex-wrap: wrap; 
    }
.restaux h2
    {
        position: relative;
        width: 0px;
        top:-136px ;
        padding-left: 0px;
    }
.carte
    {
        width: 45%;
        margin-top:55px ;
        margin-right:40px ;
        margin-left: 0px;
    }
.nouveaux::before
    {
        width:17% ;
        height: 21px;
        right: 11px;
    }
.deuxieme .fa-arrow-left
    {
        margin-top:34px ;
    }
.menu
    {
        display: flex;
        flex-direction: column;
        align-items: center
    }
.lacarte
    {
        width: 60%;
    }
.resto1 .fa-heart
    {
       right:60px ;
       margin-top:24px ;
    }
    .icone .fa-heart:before
    {
        font-size:30px ;
    }
    }